<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <title>todo_wish</title>
  </head>
  <body>
    <%- include("nav.html") %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">todo_wish <%= post._id %></h1>
        <p>1. 내가 구매 혹은 판매하는 상품이 맞는지 확인해주세요.</p>
        <p>2. 투두위시는 안전한 거래를 위해 직거래를 제안합니다.</p>
        <p>3. 투두위시는 법적 대응에 협조를 잘해줍니다.</p>
      </div>
    </div>
    <div class="container" mt-5>
      <div class="card" style="width: 100%">
        <img
          src="<%= post.image %>"
          class="card-img-top"
          Id="detailImg"
          onerror="this.style.display='none'"
        />
        <div class="card-body">
          <h4 class="card-title"><%= post.title %></h4>
          <h5 class="card-text mb-4"><%= post.price %>원</h5>
          <h5 class="card-text mb-4"><%= post.userId %></h5>
          <p class="card-text mb-4"><%= post.content %></p>
          <p class="card-text"><%= post.date %></p>
          <button
            type="button"
            class="btn btn-warning edit mr-2"
            data-id="<%= post._id %>"
          >
            수정하기
          </button>
          <button
            type="button"
            class="btn btn-danger delete mr-2"
            data-id="<%= post._id %>"
          >
            삭제하기
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(".delete").click(function (e) {
        var postId = e.target.dataset.id;
        $.ajax({
          method: "DELETE",
          url: "/posts",
          data: { _id: postId },
        }).done((result) => {
          if (result == "different user") {
            alert("작성자만 삭제가 가능합니다.");
            window.location.reload();
          } else if (result == true) {
            $(this).parent("li").fadeOut();
          } else {
            alert("로그인이 필요합니다.");
            window.location.replace("/user/login");
          }
        });
      });

      $(".edit").click(function (e) {
        var postId = e.target.dataset.id;
        window.location.replace("/posts/" + postId + "/edit");
      });
    </script>
  </body>
</html>
