<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>todo_wish</title>
  </head>
  <body>
    <%- include("nav.html") %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">todo_wish</h1>
        <p>1. 내가 구매하고 싶은 물건을 찾아서 중고로 구매해보세요.</p>
        <p>2. 내가 판매하고 싶은 물건을 올려서 중고로 판매해보세요.</p>
        <p>3. 핫딜 상품을 다른 사람들에게 공유해주세요.</p>
      </div>
    </div>
    <div class="container input-group mb-5">
      <input
        class="form-control"
        placeholder="검색어를 입력해주세요."
        id="searchInput"
      />
      <button class="input-group-append btn btn-info" id="search">
        검색하기
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container">
      <ul class="list-group">
        <% posts.forEach((result)=>{ %>
        <li class="list-group-item justify-content-between align-items-center">
          <h4 style="display: inline-block"><%= result.title %></h4>
          <% if (result.type == "판매하기") { %>
          <span class="badge badge-pill badge-success">판매희망</span>
          <% } else if (result.type == "핫딜") { %>
          <span class="badge badge-pill badge-danger">핫딜!!</span>
          <% } else if (result.type == "구매하기") { %>
          <span class="badge badge-pill badge-warning">구매희망</span>
          <% } %>
          <h5><%= result.price %>원</h5>
          <p></p>
          <p style="margin-bottom: 3px">작성자: <%= result.userId %></p>
          <p>작성일: <%= result.date %></p>
          <button
            type="button"
            class="btn btn-primary detail mr-2"
            data-id="<%= result._id %>"
          >
            상세보기
          </button>
          <button
            type="button"
            class="btn btn-dark chat mr-2"
            data-title="<%= result.title %>"
            data-id="<%= result.userId %>"
          >
            1:1 채팅하기
          </button>
          <button
            type="button"
            class="btn btn-danger delete mr-2"
            data-id="<%= result._id %>"
          >
            삭제
          </button>
        </li>
        <% }) %>
      </ul>
    </div>
    <script>
      $("#search").click(() => {
        var inputData = $("#searchInput").val();
        window.location.replace("/search?value=" + inputData);
      });

      $(".delete").click(function (e) {
        var postId = e.target.dataset.id;
        $.ajax({
          method: "DELETE",
          url: "/posts",
          data: { _id: postId },
        }).done((result) => {
          if (result == "different user") {
            alert("작성자만 삭제가 가능합니다.");
            window.location.reload();
          } else if (result == true) {
            $(this).parent("li").fadeOut();
          } else {
            alert("로그인이 필요합니다.");
            window.location.replace("/user/login");
          }
        });
      });

      $(".detail").click(function (e) {
        var postId = e.target.dataset.id;
        window.location.replace("/posts/" + postId);
      });

      $(".chat").click(function (e) {
        var title = e.target.dataset.title;
        var user = e.target.dataset.id;
        $.ajax({
          method: "post",
          url: "/chat/room",
          data: { title: title, roomUser: user },
        }).done((result) => {
          if (result == true) {
            window.location.replace("/chat");
          } else if (result == "me") {
            alert("혼자하는 채팅 보다 둘이하는 채팅이 더 좋습니다.");
            window.location.reload();
          } else if (result == "notnull") {
            alert("기존 채팅방을 확인해주세요.");
            window.location.replace("/chat");
          } else {
            alert("로그인이 필요합니다.");
            window.location.replace("/user/login");
          }
        });
      });
    </script>
  </body>
</html>
